@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Work+Sans:700&display=swap');

$primary: #2081c3;
$title-family: 'Work Sans', sans-serif;
$family-primary: 'Quattrocento Sans', sans-serif;

@import 'bulma/bulma.sass';

body {
  text-rendering: optimizeLegibility;
}
